/core/node_modules
/public/hot
/public/storage
/core/storage/*.key
/vendor
/core/vendor
/core/vendor_old
/.idea
/.vagrant
/core/Homestead.json
/core/Homestead.yaml
/core/npm-debug.log
/core/yarn-error.log
/core/.env
/public