

@media only screen and (max-width: 600px) {

    .carousel-caption {
        bottom: 10% !important;
    }



    .bg-faded1{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.59), rgb(0, 0, 0)), url('../img/sliders/slider1.jpg');
    }
    .bg-faded2{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.59), rgb(0, 0, 0)), url('../img/sliders/slider2.jpg');
    }
    .bg-faded3{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.27),rgba(0, 0, 0, 0.59), rgb(0, 0, 0)), url('../img/sliders/slider3.jpg');
    }

    .syft-mobile{
        font-size: 17px;
    }

    .fs-20{
        font-size: 14px;
    }
    .info-text{
        font-size: 12px;
    }
    .main-text{
        font-size: 20px;
    }

}